apiVersion: v1
baseDomain: {{ cluster.base_domain }}
controlPlane:
  architecture: s390x
  hyperthreading: Enabled
  name: master
  replicas: {{ infra.partitions.control_nodes | length }}
compute:
- architecture: s390x
  hyperthreading: Enabled
  name: worker
  replicas: {{ infra.partitions.compute_nodes | length }}             
metadata:
  name: {{ cluster.name }}  # Cluster Name
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network_cidr }}  
  networkType: OVNKubernetes 
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}